<div class="home animated fadeIn">
  <div class="container">
    <div class="presentation">
        ENCONTRO INTERNACIONAL CAPOEIRA NAGÔ 2019 <br>
        <span>
          MONTE CARMELO-MG - BRASIL <br> 18 a 20 de Abril 
        </span>
    </div>
  </div>
  <div class="image-container">
      <img src="../../../assets/img/background.jpeg" alt="">
  </div>
  <div class="container">
    <div class="motivational-text">
      <h3>Sobre o evento</h3>
      <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque molestias, facilis, voluptatibus tempore eos doloremque repudiandae minima quisquam sunt ab debitis dignissimos ullam quae dolores totam. Repellendus facere commodi deleniti?</span><span>Voluptatum officia, delectus libero quos a, dolorem enim quasi, soluta nesciunt amet nisi. Hic eveniet, culpa quas dignissimos dolore quidem amet modi quaerat iusto. Iusto dolores autem error neque placeat!</span></p>
    </div>
    <h3>Inscrições abertas até o dia 05/04/2019</h3>
  </div>
  <div class="container-fluid">
      <div class="subscriptions">
          <div class="card-row">
            <div class="card diamond">
              <div class="card-title">
                PACOTE DIAMANTE
              </div>
              <div class="card-value">
                R$ 200,00
              </div>
              <div class="card-description">
                <ul>
                  <li>Hospedagem</li>
                  <li>Alimentação</li>
                  <li>Camiseta</li>
                  <li>Curso 1</li>
                  <li>Curso 2</li>
                  <li>Oficina de percussão</li>
                  <li>Chafé com capoeira</li>
                  <li>Roda de abertura</li>
                  <li>Evento Oficial</li>
                  <li>Homenagem aos campeões Nagô</li>
                  <li>Vozeirão Nagô - Festival de músicas inéditas para a capoeira</li>
                </ul>
              </div>
            </div>
            <div class="card gold">
              <div class="card-title">
                PACOTE OURO
              </div>
              <div class="card-value">
                R$ 150,00
              </div>
              <div class="card-description">
                <ul>
                  <li>Alojamento</li>
                  <li>Alimentação</li>
                  <li>Camiseta</li>
                  <li>Curso 1</li>
                  <li>Curso 2</li>
                  <li>Oficina de percussão</li>
                  <li>Chafé com capoeira</li>
                  <li>Roda de abertura</li>
                  <li>Evento Oficial</li>
                  <li>Homenagem aos campeões Nagô</li>
                  <li>Vozeirão Nagô - Festival de músicas inéditas para a capoeira</li>
                </ul>
              </div>
            </div>
            <div class="card silver">
              <div class="card-title"> PACOTE PRATA</div>
              <div class="card-value"> R$ 100,00</div>
              <div class="card-description">
                <ul>
                  <li>Alimentação</li>
                  <li>Camiseta</li>
                  <li>Curso 1</li>
                  <li>Curso 2</li>
                  <li>Oficina de percussão</li>
                  <li>Chafé com capoeira</li>
                  <li>Roda de abertura</li>
                  <li>Evento Oficial</li>
                  <li>Homenagem aos campeões Nagô</li>
                  <li>Vozeirão Nagô - Festival de músicas inéditas para a capoeira</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="button-row">
            <button type="button" class="btn btn-outline-secondary">Quero me inscrever!</button>
        </div>
  </div>
</div>