<div class="container animated fadeIn">
  <div class="title">
    FIQUE POR DENTRO DA AGENDA DO EVENTO!
  </div>
  <div class="date text">
      <i class="far fa-calendar-alt"></i> 18/04/2019 - Quinta-feira
  </div>
  <div class="date-description text">
    <ul>
      <li>
        <div class="hour">
            <i class="far fa-clock"></i> 19:00
        </div>
        <div class="event">
          Curso com Mestre Falcão - Granada- Espanha
        </div>
      </li>
      <li>
        <div class="event">
          Roda de abertura
        </div>
      </li>
    </ul>
  </div>

  <div class="date text">
      <i class="far fa-calendar-alt"></i> 19/04/2019 - Sexta-feira
  </div>
  <div class="date-description text">
    <ul>
      <li>
        <div class="hour">
            <i class="far fa-clock"></i> 16:00
        </div> 
        <div class="event">
            Movimentação com o Contramestre Douglas - Recife – PE
        </div>  
      </li>
      <li> 
        <div class="hour">
          <i class="far fa-clock"></i> 17:00
        </div>
        <div class="event">
            Festival Vozeirão: Músicas Inéditas para a capoeira.
        </div>
        <div class="prize">
            <i class="fas fa-award"></i>Premiação: 
        </div>
        <div class="reward">
            Passagem ida e volta para o internacional capoeira Nagô em Granada-Espanha  em 2020.
        </div>
      </li>
      <li> 
        <div class="hour">
          <i class="far fa-clock"></i> 19:00 
        </div>
        <div class="event">
            Movimentação com o Contramestre Sapo - Ouro Branco-MG
        </div>
      </li>
    </ul>
  </div>
  <div class="date text">
      <i class="far fa-calendar-alt"></i> 19/04/2019 - Sábado
  </div>
  <div class="date-description text">
    <ul>
      <li>
        <div class="hour">
            <i class="far fa-clock"></i> 09:00
        </div>
        <div class="event">
            Gravação do Áudio "Manego-show-Energia e Fundamento".
        </div>
      </li>
      <li>
        <div class="hour">
            <i class="far fa-clock"></i> 17:00 
        </div>
        <div class="event">
            Movimentação com o Contramestre Galo - Rio Verde-GO
        </div>
      </li>
      <li>
        <div class="hour">
            <i class="far fa-clock"></i> 18:00 
        </div>
        <div class="event">
            Movimentação com o Contramestre Chicão - Madrid – És
        </div>
      </li>
      <li>
        <div class="hour">
            <i class="far fa-clock"></i> 19:30 
        </div>
        <div class="event">
            Batizado e Troca de Cordas
        </div>
      </li>
    </ul>
  </div>
</div>